{% extends 'base.html.twig' %}
{% block tituloHeader %}Portfolio
{% endblock %}
{% block body %}
	<!-- Portfolio-->
	<section class="page-section">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mt-0">Mis proyectos</h2>
			<hr class="divider"/>
		</div>
	</section>

	<div id="portfolio">

		<div class="container-fluid p-0">
			<div class="row g-0">
				{% for image in images %}
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
							<img class="img-fluid" src="{{ asset('images/' ~ image.file) }}" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">{{ image.category.name }}</div>
								<div class="project-name">{{ image.projectName }}</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			{% if app.user.username == 'admin' %}
				<div class="d-flex justify-content-center mt-5 mb-5">
					<a class="btn btn-primary btn-xl" href="{{ path('add_images') }}">+ Add More Projects</a>
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}
