{% extends 'base.html.twig' %}
{% block title %}Creative - Thankyou!{% endblock %}
{% block tituloHeader %}Thankyou!{% endblock %}
{% block botonHeader %}<a class="btn btn-primary btn-xl" href="{{ path('index') }}">Ok</a>{% endblock %}